# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    App\Service\Core\PdfGeneratorService:
        arguments:
            $params: '@parameter_bag'

    App\Service\Core\TransactionService:
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones

    # Servicios del módulo AjusteInventario
    App\Service\AjusteInventario\AjusteInventarioService:
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'

    App\Service\AjusteInventario\AjusteInventarioQueryService:
        arguments:
            $repository: '@App\Repository\AjusteInventarioRepository'
            $paginator: '@knp_paginator'

    # Alias para interfaces
    App\Service\AjusteInventario\Interface\AjusteInventarioServiceInterface: '@App\Service\AjusteInventario\AjusteInventarioService'
    App\Service\AjusteInventario\Interface\AjusteInventarioQueryInterface: '@App\Service\AjusteInventario\AjusteInventarioQueryService'

    # Servicios del módulo Categoria
    App\Service\Categoria\CategoriaQueryService:
        arguments:
            $repository: '@App\Repository\CategoriaRepository'
            $paginator: '@knp_paginator'

    App\Service\Categoria\CategoriaService: # Cambiado el nombre
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'

    # Alias para interfaces del módulo Categoria
    App\Service\Categoria\Interface\CategoriaQueryInterface: '@App\Service\Categoria\CategoriaQueryService'
    App\Service\Categoria\Interface\CategoriaServiceInterface: '@App\Service\Categoria\CategoriaService'

    # Servicios del módulo Producto
    App\Service\Producto\ProductoSearchService:
        arguments:
            $repository: '@App\Repository\ProductoRepository'
            $paginator: '@knp_paginator'

    App\Service\Producto\ProductoStatsService:
        arguments:
            $repository: '@App\Repository\ProductoRepository'

    App\Service\Producto\ProductoOperationsService:
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'
            $commonService: '@App\Service\CommonService'

    # Alias para interfaces del módulo Producto
    App\Service\Producto\Interface\ProductoSearchInterface: '@App\Service\Producto\ProductoSearchService'
    App\Service\Producto\Interface\ProductoStatsInterface: '@App\Service\Producto\ProductoStatsService'
    App\Service\Producto\Interface\ProductoOperationsInterface: '@App\Service\Producto\ProductoOperationsService'

    # Servicios del módulo Cliente
    App\Service\Cliente\ClienteSearchService:
        arguments:
            $repository: '@App\Repository\ClienteRepository'
            $paginator: '@knp_paginator'

    App\Service\Cliente\ClienteStatsService:
        arguments:
            $repository: '@App\Repository\ClienteRepository'

    App\Service\Cliente\ClienteOperationsService:
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'
            $commonService: '@App\Service\CommonService'

    # Alias para interfaces del módulo Cliente
    App\Service\Cliente\Interface\ClienteSearchInterface: '@App\Service\Cliente\ClienteSearchService'
    App\Service\Cliente\Interface\ClienteStatsInterface: '@App\Service\Cliente\ClienteStatsService'
    App\Service\Cliente\Interface\ClienteOperationsInterface: '@App\Service\Cliente\ClienteOperationsService'

    # Servicios del módulo Compra
    App\Service\Compra\CompraSearchService:
        arguments:
            $repository: '@App\Repository\CompraRepository'
            $paginator: '@knp_paginator'

    App\Service\Compra\CompraStatsService:
        arguments:
            $repository: '@App\Repository\CompraRepository'

    App\Service\Compra\CompraOperationsService:
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'
            $commonService: '@App\Service\CommonService'
            $transactionService: '@App\Service\Core\TransactionService'

    # Alias para interfaces del módulo Compra
    App\Service\Compra\Interface\CompraSearchInterface: '@App\Service\Compra\CompraSearchService'
    App\Service\Compra\Interface\CompraStatsInterface: '@App\Service\Compra\CompraStatsService'
    App\Service\Compra\Interface\CompraOperationsInterface: '@App\Service\Compra\CompraOperationsService'

    # Servicios del módulo Venta
    App\Service\Venta\VentaSearchService:
        arguments:
            $repository: '@App\Repository\VentaRepository'
            $paginator: '@knp_paginator'

    App\Service\Venta\VentaStatsService:
        arguments:
            $repository: '@App\Repository\VentaRepository'

    App\Service\Venta\VentaOperationsService:
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'
            $commonService: '@App\Service\CommonService'
            $transactionService: '@App\Service\Core\TransactionService'

    # Alias para interfaces del módulo Venta
    App\Service\Venta\Interface\VentaSearchInterface: '@App\Service\Venta\VentaSearchService'
    App\Service\Venta\Interface\VentaStatsInterface: '@App\Service\Venta\VentaStatsService'
    App\Service\Venta\Interface\VentaOperationsInterface: '@App\Service\Venta\VentaOperationsService'

    # Servicios del módulo Proveedor
    App\Service\Proveedor\ProveedorSearchService:
        arguments:
            $repository: '@App\Repository\ProveedorRepository'
            $paginator: '@knp_paginator'

    App\Service\Proveedor\ProveedorStatsService:
        arguments:
            $repository: '@App\Repository\ProveedorRepository'

    App\Service\Proveedor\ProveedorOperationsService:
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'

    # Alias para interfaces del módulo Proveedor
    App\Service\Proveedor\Interface\ProveedorSearchInterface: '@App\Service\Proveedor\ProveedorSearchService'
    App\Service\Proveedor\Interface\ProveedorStatsInterface: '@App\Service\Proveedor\ProveedorStatsService'
    App\Service\Proveedor\Interface\ProveedorOperationsInterface: '@App\Service\Proveedor\ProveedorOperationsService'

    # Servicios del módulo HistorialPrecios
    App\Service\HistorialPrecios\HistorialPreciosSearchService:
        arguments:
            $repository: '@App\Repository\HistorialPreciosRepository'
            $paginator: '@knp_paginator'

    App\Service\HistorialPrecios\HistorialPreciosStatsService:
        arguments:
            $repository: '@App\Repository\HistorialPreciosRepository'

    App\Service\HistorialPrecios\HistorialPreciosOperationsService:
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'
            $repository: '@App\Repository\HistorialPreciosRepository'

    # Alias para interfaces del módulo HistorialPrecios
    App\Service\HistorialPrecios\Interface\HistorialPreciosSearchInterface: '@App\Service\HistorialPrecios\HistorialPreciosSearchService'
    App\Service\HistorialPrecios\Interface\HistorialPreciosStatsInterface: '@App\Service\HistorialPrecios\HistorialPreciosStatsService'
    App\Service\HistorialPrecios\Interface\HistorialPreciosOperationsInterface: '@App\Service\HistorialPrecios\HistorialPreciosOperationsService'

    # Servicios del módulo DetalleVenta
    App\Service\DetalleVenta\DetalleVentaSearchService:
        arguments:
            $repository: '@App\Repository\DetalleVentaRepository'
            $paginator: '@knp_paginator'

    App\Service\DetalleVenta\DetalleVentaStatsService:
        arguments:
            $repository: '@App\Repository\DetalleVentaRepository'

    App\Service\DetalleVenta\DetalleVentaOperationsService:
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'

    # Alias para interfaces del módulo DetalleVenta
    App\Service\DetalleVenta\Interface\DetalleVentaSearchInterface: '@App\Service\DetalleVenta\DetalleVentaSearchService'
    App\Service\DetalleVenta\Interface\DetalleVentaStatsInterface: '@App\Service\DetalleVenta\DetalleVentaStatsService'
    App\Service\DetalleVenta\Interface\DetalleVentaOperationsInterface: '@App\Service\DetalleVenta\DetalleVentaOperationsService'

    # Servicios del módulo DetalleCompra
    App\Service\DetalleCompra\DetalleCompraSearchService:
        arguments:
            $repository: '@App\Repository\DetalleCompraRepository'
            $paginator: '@knp_paginator'

    App\Service\DetalleCompra\DetalleCompraStatsService:
        arguments:
            $repository: '@App\Repository\DetalleCompraRepository'

    App\Service\DetalleCompra\DetalleCompraOperationsService:
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'

    # Alias para interfaces del módulo DetalleCompra
    App\Service\DetalleCompra\Interface\DetalleCompraSearchInterface: '@App\Service\DetalleCompra\DetalleCompraSearchService'
    App\Service\DetalleCompra\Interface\DetalleCompraStatsInterface: '@App\Service\DetalleCompra\DetalleCompraStatsService'
    App\Service\DetalleCompra\Interface\DetalleCompraOperationsInterface: '@App\Service\DetalleCompra\DetalleCompraOperationsService'
    App\Service\DetalleCompra\Interface\DetalleCompraRepositoryInterface: '@App\Repository\DetalleCompraRepository'

    # Servicios del Dashboard
    App\Service\Dashboard\DashboardStatsService:
        arguments:
            $productoRepository: '@App\Repository\ProductoRepository'
            $ventaRepository: '@App\Repository\VentaRepository'
            $compraRepository: '@App\Repository\CompraRepository'
            $clienteRepository: '@App\Repository\ClienteRepository'

    App\Service\Dashboard\StockAlertService:
        arguments:
            $inventoryService: '@App\Service\Core\InventoryService'
            $productoRepository: '@App\Repository\ProductoRepository'

    # Alias para interfaces del Dashboard
    App\Service\Dashboard\Interface\DashboardStatsInterface: '@App\Service\Dashboard\DashboardStatsService'
    App\Service\Dashboard\Interface\StockAlertInterface: '@App\Service\Dashboard\StockAlertService'

    # Servicios del módulo Estadisticas
    App\Service\Estadisticas\EstadisticasService:
        arguments:
            $statisticsService: '@App\Service\Core\StatisticsService'

    App\Service\Estadisticas\DefaultStatisticsProviderService: ~

    App\Service\Estadisticas\StatisticsErrorHandlerService:
        arguments:
            $logger: '@logger'

    # Alias para interfaces del módulo Estadisticas
    App\Service\Estadisticas\Interface\EstadisticasProviderInterface: '@App\Service\Estadisticas\EstadisticasService'
    App\Service\Estadisticas\Interface\DefaultStatisticsProviderInterface: '@App\Service\Estadisticas\DefaultStatisticsProviderService'
    App\Service\Estadisticas\Interface\StatisticsErrorHandlerInterface: '@App\Service\Estadisticas\StatisticsErrorHandlerService'

    # Servicio CommonService
    App\Service\CommonService: ~
