# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    App\Service\PdfGeneratorService:
        arguments:
            $params: '@parameter_bag'

    App\Service\TransactionService:
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones

    App\Service\AjusteInventarioSearchService:
        arguments:
            $repository: '@App\Repository\AjusteInventarioRepository'
            $paginator: '@knp_paginator'

    App\Service\AjusteInventarioStatsService:
        arguments:
            $repository: '@App\Repository\AjusteInventarioRepository'

    App\Service\AjusteInventoryOperationsService:
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'

    App\Service\AjusteInventoryOperationsInterface: '@App\Service\AjussteInventario\AjusteInventoryOperationsService'

    # Servicios del módulo Categoria
    App\Service\CategoriaSearchService:
        arguments:
            $repository: '@App\Repository\CategoriaRepository'
            $paginator: '@knp_paginator'

    App\Service\CategoriaStatsService:
        arguments:
            $repository: '@App\Repository\CategoriaRepository'

    App\Service\CategoriaOperationsService:
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'

    # Alias para interfaces
    App\Service\CategoriaSearchInterface: '@App\Service\Categoria\CategoriaSearchService'
    App\Service\CategoriaStatsInterface: '@App\Service\Categoria\CategoriaStatsService'
    App\Service\CategoriaOperationsInterface: '@App\Service\Categoria\CategoriaOperationsService'

    # Servicios del módulo Producto
    App\Service\ProductoSearchService:
        arguments:
            $repository: '@App\Repository\ProductoRepository'
            $paginator: '@knp_paginator'

    App\Service\ProductoStatsService:
        arguments:
            $repository: '@App\Repository\ProductoRepository'

    App\Service\ProductoOperationsService:
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'
            $commonService: '@App\Service\CommonService'

    # Alias para interfaces del módulo Producto
    App\Service\ProductoSearchInterface: '@App\Service\Producto\ProductoSearchService'
    App\Service\ProductoStatsInterface: '@App\Service\Producto\ProductoStatsService'
    App\Service\ProductoOperationsInterface: '@App\Service\Producto\ProductoOperationsService'

    # Servicios del módulo Cliente
    App\Service\ClienteSearchService:
        arguments:
            $repository: '@App\Repository\ClienteRepository'
            $paginator: '@knp_paginator'

    App\Service\ClienteStatsService:
        arguments:
            $repository: '@App\Repository\ClienteRepository'

    App\Service\ClienteOperationsService:
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'
            $commonService: '@App\Service\CommonService'

    # Alias para interfaces del módulo Cliente
    App\Service\ClienteSearchInterface: '@App\Service\Cliente\ClienteSearchService'
    App\Service\ClienteStatsInterface: '@App\Service\Cliente\ClienteStatsService'
    App\Service\ClienteOperationsInterface: '@App\Service\Cliente\ClienteOperationsService'

    # Servicios del módulo Compra
    App\Service\CompraSearchService:
        arguments:
            $repository: '@App\Repository\CompraRepository'
            $paginator: '@knp_paginator'

    App\Service\CompraStatsService:
        arguments:
            $repository: '@App\Repository\CompraRepository'

    App\Service\CompraOperationsService:
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'
            $commonService: '@App\Service\CommonService'
            $transactionService: '@App\Service\Core\TransactionService'

    # Alias para interfaces del módulo Compra
    App\Service\CompraSearchInterface: '@App\Service\Compra\CompraSearchService'
    App\Service\CompraStatsInterface: '@App\Service\Compra\CompraStatsService'
    App\Service\CompraOperationsInterface: '@App\Service\Compra\CompraOperationsService'

    # Servicios del módulo Venta
    App\Service\VentaSearchService:
        arguments:
            $repository: '@App\Repository\VentaRepository'
            $paginator: '@knp_paginator'

    App\Service\VentaStatsService:
        arguments:
            $repository: '@App\Repository\VentaRepository'

    App\Service\VentaOperationsService:
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'
            $commonService: '@App\Service\CommonService'
            $transactionService: '@App\Service\Core\TransactionService'

    # Alias para interfaces del módulo Venta
    App\Service\VentaSearchInterface: '@App\Service\Venta\VentaSearchService'
    App\Service\VentaStatsInterface: '@App\Service\Venta\VentaStatsService'
    App\Service\VentaOperationsInterface: '@App\Service\Venta\VentaOperationsService'

    # Servicios del módulo Proveedor
    App\Service\ProveedorSearchService:
        arguments:
            $repository: '@App\Repository\ProveedorRepository'
            $paginator: '@knp_paginator'

    App\Service\ProveedorStatsService:
        arguments:
            $repository: '@App\Repository\ProveedorRepository'

    App\Service\ProveedorOperationsService:
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'

    # Alias para interfaces del módulo Proveedor
    App\Service\ProveedorSearchInterface: '@App\Service\Proveedor\ProveedorSearchService'
    App\Service\ProveedorStatsInterface: '@App\Service\Proveedor\ProveedorStatsService'
    App\Service\ProveedorOperationsInterface: '@App\Service\Proveedor\ProveedorOperationsService'

    # Servicios del módulo HistorialPrecios
    App\Service\HistorialPreciosSearchService:
        arguments:
            $repository: '@App\Repository\HistorialPreciosRepository'
            $paginator: '@knp_paginator'

    App\Service\HistorialPreciosStatsService:
        arguments:
            $repository: '@App\Repository\HistorialPreciosRepository'

    App\Service\HistorialPreciosOperationsService:
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'
            $repository: '@App\Repository\HistorialPreciosRepository'

    # Alias para interfaces del módulo HistorialPrecios
    App\Service\HistorialPreciosSearchInterface: '@App\Service\HistorialPrecios\HistorialPreciosSearchService'
    App\Service\HistorialPreciosStatsInterface: '@App\Service\HistorialPrecios\HistorialPreciosStatsService'
    App\Service\HistorialPreciosOperationsInterface: '@App\Service\HistorialPrecios\HistorialPreciosOperationsService'


    # Servicios del módulo DetalleVenta
    App\Service\DetalleVentaSearchService:
        arguments:
            $repository: '@App\Repository\DetalleVentaRepository'
            $paginator: '@knp_paginator'

    App\Service\DetalleVentaStatsService:
        arguments:
            $repository: '@App\Repository\DetalleVentaRepository'

    App\Service\DetalleVentaOperationsService:
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'

    # Alias para interfaces del módulo DetalleVenta
    App\Service\DetalleVentaSearchInterface: '@App\Service\DetalleVenta\DetalleVentaSearchService'
    App\Service\DetalleVentaStatsInterface: '@App\Service\DetalleVenta\DetalleVentaStatsService'
    App\Service\DetalleVentaOperationsInterface: '@App\Service\DetalleVenta\DetalleVentaOperationsService'


    # Servicios del módulo DetalleCompra
    App\Service\DetalleCompraSearchService:
        arguments:
            $repository: '@App\Repository\DetalleCompraRepository'
            $paginator: '@knp_paginator'

    App\Service\DetalleCompraStatsService:
        arguments:
            $repository: '@App\Repository\DetalleCompraRepository'

    App\Service\DetalleCompraOperationsService:
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'

    # Alias para interfaces del módulo DetalleCompra
    App\Service\DetalleCompraSearchInterface: '@App\Service\DetalleCompra\DetalleCompraSearchService'
    App\Service\DetalleCompraStatsInterface: '@App\Service\DetalleCompra\DetalleCompraStatsService'
    App\Service\DetalleCompraOperationsInterface: '@App\Service\DetalleCompra\DetalleCompraOperationsService'
    App\Service\DetalleCompraRepositoryInterface: '@App\Repository\DetalleCompraRepository'


    # Servicios del Dashboard
    App\Service\DashboardStatsService:
        arguments:
            $productoRepository: '@App\Repository\ProductoRepository'
            $ventaRepository: '@App\Repository\VentaRepository'
            $compraRepository: '@App\Repository\CompraRepository'
            $clienteRepository: '@App\Repository\ClienteRepository'

    App\Service\StockAlertService:
        arguments:
            $inventoryService: '@App\Service\Core\InventoryService'
            $productoRepository: '@App\Repository\ProductoRepository'

    # Alias para interfaces
    App\Service\DashboardStatsInterface: '@App\Service\Dashboard\DashboardStatsService'
    App\Service\StockAlertInterface: '@App\Service\Dashboard\StockAlertService'

    # Servicios del módulo Estadisticas
    App\Service\EstadisticasService:
        arguments:
            $statisticsService: '@App\Service\Core\StatisticsService'

    App\Service\DefaultStatisticsProviderService: ~

    App\Service\StatisticsErrorHandlerService:
        arguments:
            $logger: '@logger'

    # Alias para interfaces
    App\Service\EstadisticasProviderInterface: '@App\Service\Estadisticas\EstadisticasService'
    App\Service\DefaultStatisticsProviderInterface: '@App\Service\Estadisticas\DefaultStatisticsProviderService'
    App\Service\StatisticsErrorHandlerInterface: '@App\Service\Estadisticas\StatisticsErrorHandlerService'
