# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    App\Service\Core\PdfGeneratorService:
        arguments:
            $params: '@parameter_bag'

    App\Service\Core\TransactionService:
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones

    # Servicios del módulo AjusteInventario
    App\Service\AjusteInventario\AjusteInventarioService:
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'

    App\Service\AjusteInventario\AjusteInventarioQueryService:
        arguments:
            $repository: '@App\Repository\AjusteInventarioRepository'
            $paginator: '@knp_paginator'

    # Alias para interfaces
    App\Service\AjusteInventario\Interface\AjusteInventarioServiceInterface: '@App\Service\AjusteInventario\AjusteInventarioService'
    App\Service\AjusteInventario\Interface\AjusteInventarioQueryInterface: '@App\Service\AjusteInventario\AjusteInventarioQueryService'

    # Servicios del módulo Categoria
    App\Service\Categoria\CategoriaQueryService:
        arguments:
            $repository: '@App\Repository\CategoriaRepository'
            $paginator: '@knp_paginator'

    App\Service\Categoria\CategoriaService: # Cambiado el nombre
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'

    # Alias para interfaces del módulo Categoria
    App\Service\Categoria\Interface\CategoriaQueryInterface: '@App\Service\Categoria\CategoriaQueryService'
    App\Service\Categoria\Interface\CategoriaServiceInterface: '@App\Service\Categoria\CategoriaService'

    # Servicios del módulo Producto (refactorizados)
    App\Service\Producto\ProductoQueryService:
        arguments:
            $repository: '@App\Repository\ProductoRepository'
            $paginator: '@knp_paginator'

    App\Service\Producto\ProductoService:
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'
            $commonService: '@App\Service\CommonService'

    # Alias para interfaces del módulo Producto
    App\Service\Producto\Interface\ProductoQueryInterface: '@App\Service\Producto\ProductoQueryService'
    App\Service\Producto\Interface\ProductoServiceInterface: '@App\Service\Producto\ProductoService'

    # Servicios del módulo Cliente
    App\Service\Cliente\ClienteQueryService:
        arguments:
            $repository: '@App\Repository\ClienteRepository'
            $paginator: '@knp_paginator'

    App\Service\Cliente\ClienteService:
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'
            $commonService: '@App\Service\CommonService'

    # Alias para interfaces del módulo Cliente
    App\Service\Cliente\Interface\ClienteQueryInterface: '@App\Service\Cliente\ClienteQueryService'
    App\Service\Cliente\Interface\ClienteServiceInterface: '@App\Service\Cliente\ClienteService'

    # Servicios del módulo Compra
    App\Service\Compra\CompraQueryService:
        arguments:
            $repository: '@App\Repository\CompraRepository'
            $paginator: '@knp_paginator'

    App\Service\Compra\CompraService:
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'
            $commonService: '@App\Service\CommonService'
            $transactionService: '@App\Service\Core\TransactionService'

    # Alias para interfaces del módulo Compra
    App\Service\Compra\Interface\CompraQueryInterface: '@App\Service\Compra\CompraQueryService'
    App\Service\Compra\Interface\CompraServiceInterface: '@App\Service\Compra\CompraService'

    # Servicios del módulo Venta (refactorizados)
    App\Service\Venta\VentaQueryService:
        arguments:
            $repository: '@App\Repository\VentaRepository'
            $paginator: '@knp_paginator'

    App\Service\Venta\VentaService:
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'
            $commonService: '@App\Service\CommonService'
            $transactionService: '@App\Service\Core\TransactionService'

    # Alias para interfaces del módulo Venta
    App\Service\Venta\Interface\VentaQueryInterface: '@App\Service\Venta\VentaQueryService'
    App\Service\Venta\Interface\VentaServiceInterface: '@App\Service\Venta\VentaService'

    # Servicios del módulo Proveedor (refactorizados)
    App\Service\Proveedor\ProveedorQueryService:
        arguments:
            $repository: '@App\Repository\ProveedorRepository'
            $paginator: '@knp_paginator'

    App\Service\Proveedor\ProveedorService:
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'

    # Alias para interfaces del módulo Proveedor
    App\Service\Proveedor\Interface\ProveedorQueryInterface: '@App\Service\Proveedor\ProveedorQueryService'
    App\Service\Proveedor\Interface\ProveedorServiceInterface: '@App\Service\Proveedor\ProveedorService'

    # Servicios del módulo HistorialPrecios (refactorizados)
    App\Service\HistorialPrecios\HistorialPreciosQueryService:
        arguments:
            $repository: '@App\Repository\HistorialPreciosRepository'
            $paginator: '@knp_paginator'

    App\Service\HistorialPrecios\HistorialPreciosService:
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'
            $repository: '@App\Repository\HistorialPreciosRepository'

    # Alias para interfaces del módulo HistorialPrecios
    App\Service\HistorialPrecios\Interface\HistorialPreciosQueryInterface: '@App\Service\HistorialPrecios\HistorialPreciosQueryService'
    App\Service\HistorialPrecios\Interface\HistorialPreciosServiceInterface: '@App\Service\HistorialPrecios\HistorialPreciosService'

    # Servicios del módulo DetalleVenta (refactorizados)
    App\Service\DetalleVenta\DetalleVentaQueryService:
        arguments:
            $repository: '@App\Repository\DetalleVentaRepository'
            $paginator: '@knp_paginator'

    App\Service\DetalleVenta\DetalleVentaService:
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'

    # Alias para interfaces del módulo DetalleVenta
    App\Service\DetalleVenta\Interface\DetalleVentaQueryInterface: '@App\Service\DetalleVenta\DetalleVentaQueryService'
    App\Service\DetalleVenta\Interface\DetalleVentaServiceInterface: '@App\Service\DetalleVenta\DetalleVentaService'

    # Servicios del módulo DetalleCompra (refactorizados)
    App\Service\DetalleCompra\DetalleCompraQueryService:
        arguments:
            $repository: '@App\Repository\DetalleCompraRepository'
            $paginator: '@knp_paginator'

    App\Service\DetalleCompra\DetalleCompraService:
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'

    # Alias para interfaces del módulo DetalleCompra
    App\Service\DetalleCompra\Interface\DetalleCompraQueryInterface: '@App\Service\DetalleCompra\DetalleCompraQueryService'
    App\Service\DetalleCompra\Interface\DetalleCompraServiceInterface: '@App\Service\DetalleCompra\DetalleCompraService'

    # Servicios del Dashboard
    App\Service\Dashboard\DashboardStatsService:
        arguments:
            $productoRepository: '@App\Repository\ProductoRepository'
            $ventaRepository: '@App\Repository\VentaRepository'
            $compraRepository: '@App\Repository\CompraRepository'
            $clienteRepository: '@App\Repository\ClienteRepository'

    App\Service\Dashboard\StockAlertService:
        arguments:
            $inventoryService: '@App\Service\Core\InventoryService'
            $productoRepository: '@App\Repository\ProductoRepository'

    # Alias para interfaces del Dashboard
    App\Service\Dashboard\Interface\DashboardStatsInterface: '@App\Service\Dashboard\DashboardStatsService'
    App\Service\Dashboard\Interface\StockAlertInterface: '@App\Service\Dashboard\StockAlertService'

    # Servicios del módulo Estadisticas
    App\Service\Estadisticas\EstadisticasService:
        arguments:
            $statisticsService: '@App\Service\Core\StatisticsService'

    App\Service\Estadisticas\DefaultStatisticsProviderService: ~

    App\Service\Estadisticas\StatisticsErrorHandlerService:
        arguments:
            $logger: '@logger'

    # Alias para interfaces del módulo Estadisticas
    App\Service\Estadisticas\Interface\EstadisticasProviderInterface: '@App\Service\Estadisticas\EstadisticasService'
    App\Service\Estadisticas\Interface\DefaultStatisticsProviderInterface: '@App\Service\Estadisticas\DefaultStatisticsProviderService'
    App\Service\Estadisticas\Interface\StatisticsErrorHandlerInterface: '@App\Service\Estadisticas\StatisticsErrorHandlerService'

    # Servicio CommonService
    App\Service\CommonService: ~
