# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    App\Service\PdfGeneratorService:
        arguments:
            $params: '@parameter_bag'

    App\Service\TransactionService:
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones

    App\Service\AjusteInventarioSearchService:
        arguments:
            $repository: '@App\Repository\AjusteInventarioRepository'
            $paginator: '@knp_paginator'

    App\Service\AjusteInventarioStatsService:
        arguments:
            $repository: '@App\Repository\AjusteInventarioRepository'

    App\Service\AjusteInventoryOperationsService:
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'

    App\Service\AjusteInventoryOperationsInterface: '@App\Service\AjusteInventoryOperationsService'

    # Servicios del módulo Categoria
    App\Service\CategoriaSearchService:
        arguments:
            $repository: '@App\Repository\CategoriaRepository'
            $paginator: '@knp_paginator'

    App\Service\CategoriaStatsService:
        arguments:
            $repository: '@App\Repository\CategoriaRepository'

    App\Service\CategoriaOperationsService:
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'

    # Alias para interfaces
    App\Service\CategoriaSearchInterface: '@App\Service\CategoriaSearchService'
    App\Service\CategoriaStatsInterface: '@App\Service\CategoriaStatsService'
    App\Service\CategoriaOperationsInterface: '@App\Service\CategoriaOperationsService'

    # Servicios del módulo Cliente
    App\Service\ClienteSearchService:
        arguments:
            $repository: '@App\Repository\ClienteRepository'
            $paginator: '@knp_paginator'

    App\Service\ClienteStatsService:
        arguments:
            $repository: '@App\Repository\ClienteRepository'

    App\Service\ClienteOperationsService:
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'
            $commonService: '@App\Service\CommonService'

    # Alias para interfaces del módulo Cliente
    App\Service\ClienteSearchInterface: '@App\Service\ClienteSearchService'
    App\Service\ClienteStatsInterface: '@App\Service\ClienteStatsService'
    App\Service\ClienteOperationsInterface: '@App\Service\ClienteOperationsService'


    # Servicios del módulo Compra
    App\Service\CompraSearchService:
        arguments:
            $repository: '@App\Repository\CompraRepository'
            $paginator: '@knp_paginator'

    App\Service\CompraStatsService:
        arguments:
            $repository: '@App\Repository\CompraRepository'

    App\Service\CompraOperationsService:
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'
            $commonService: '@App\Service\CommonService'
            $transactionService: '@App\Service\TransactionService'

    # Alias para interfaces del módulo Compra
    App\Service\CompraSearchInterface: '@App\Service\CompraSearchService'
    App\Service\CompraStatsInterface: '@App\Service\CompraStatsService'
    App\Service\CompraOperationsInterface: '@App\Service\CompraOperationsService'
