<form method="post" action="{{ path('app_detalle_venta_delete', {'id': detalle_ventas.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ detalle_ventas.id) }}">
    <button class="btn">Delete</button>
</form>
